# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# IDEs / editors
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac / Windows system files
.DS_Store
Thumbs.db


data/dataset/*
data/augmented_train/*
data/train_split/*
data/test_split/*

features/*

train/*/*.pkl
train/*/*.json
train/*/*.png